.table{
    height: 83vh;
    position: relative;
}

.table table{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    border: 2px solid blueviolet;
    max-width: 75%;
}

.table table tr{
    border: 2px solid blueviolet;
    font-size: 2em;
}
.table table tr td{
    width: 50%;
}