.header{
    width: 100%;
    background: purple;
    margin: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:0.5em
}
.header ul li{
    display: inline-block;
    color: white;
    cursor: pointer;
    padding-right: 1em;
}
.header ul{
    display: flex;
    padding-left: 1rem;
    padding-bottom: 0;
    align-self: flex-end;
}

.cart-button{
    float: right;
}
.heading{
    color: white;
}
.cart-button button{
    font-weight: 600;
    height: 3em;
    width: 7em;
    font-size: 17px;
    background: transparent;
    border: 2px solid #cccc;
    border-radius: 20px;
}
.cart-button button:hover{
   
    background: #dd77ff !important;
    color: black !important;
}

.navlink{
    text-decoration: none;
    color: white;
}